table {
  width: 100%;
  text-align: center;
}

.search {
  width: 90% !important;
}

mat-form-field {
  width: 850px;
}

.cierre {
  margin-left: 180px;
}

tr.mat-header-row.cdk-header-row.ng-star-inserted {
  text-align-last: center;
}
