/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    min-width:130vh!important
}

.pt-4,.py-4{
    padding-top:1.5rem!important
}

.center{
    text-align: center !important;
}

.width-container{
    display: block;
    position: relative;
    padding: 60px;
}